---
prev: false
next: false
---

# Evaluated Acceptance Results

Evaluated Acceptance Results play a crucial role in determining whether a solution has met, exceeded, or failed to meet the predefined acceptance criteria. These results are essentially comparisons between what was expected (acceptance criteria) and what was actually delivered (actual results).

### Components

- **Comparison**: At its core, evaluated acceptance results involve a side-by-side comparison between the acceptance criteria and the actual results that the solution produced.

- **Root Cause Analysis**: If there are variances or defects, the root cause for such discrepancies is identified.

- **Cost Analysis**: The cost to address any identified defects is analyzed.

- **Business Impact**: An assessment is made regarding the business impact of either addressing the defect or letting it persist.

### Utility

- **State of the Product**: These results articulate the state of the product in terms of its proficiencies and deficiencies, thereby giving a clear picture of how the product may have affected the expected business value.

- **Future Opportunities**: A product that exceeds expectations can pave the way for future opportunities.

- **Defect Handling**: Conversely, a product that falls short may possess defects that require further attention. This necessitates a cost-benefit analysis to decide whether to fix the defects or accept them.

### Documentation and Communication

- Some organizations may choose to track these evaluated results and accompanying recommendations in logs.

- When communicated, the evaluated acceptance results may also include recommendations on how to deal with identified defects.

### Lifecycle Considerations

- In projects following an adaptive life cycle, the 'Definition of Done' is also considered as a part of evaluated acceptance results.

- These results also offer concrete evidence about whether or not the solution has met or exceeded expectations, which can impact the decision on when and if the solution is accepted for release.

### Long-term Maintenance

For organizations maintaining long-term documentation about their projects, another facet of evaluated acceptance results can be obtained by comparing the approved requirements with the as-built documentation.

Evaluated Acceptance Results are comprehensive assessments that not only serve as performance indicators for the delivered solution but also guide subsequent actions and decisions. They are indispensable for understanding the actual value delivered by the solution, planning corrective actions if necessary, and aligning the project's outcomes with business objectives.
